body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/*** main Section***/
.games,
main,
footer {
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
}
.container {
  width: 1160px;
}
.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  padding: 100px 0;
}
.game-title {
  font-size: 68px;
  font-weight: 700;
  color: #fff;
  padding-top: 18px;
  margin-bottom: 30px;
  line-height: 80px;
}
.game-thumnail img {
  width: 556px;
  height: 438px;
}
span.watch-icon {
  padding-left: 10px;
}
a.game-button {
  background-color: #e02c6d;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  position: relative;
  left: 0;
  transition: background-color 2s, left 3s;
}
a.game-button:hover {
  background-color: #ac0a44;
  left: 10px;
}

main {
  background-color: #f2f2f2;
  padding-top: 100px;
}
.main-container {
  width: 1050px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.player {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 5px 4px #00000024;
  margin-bottom: 30px;
}
.player img {
  width: 300px;
  height: 256px;
}
.player-name {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 12px;
}
.player-para {
  font-size: 16px;
  font-weight: 400;
}

footer {
  background-color: #f2f2f2;
  padding-top: 100px;
}
.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 410px;
  height: 110px;
}
.footer-social {
  display: flex;
}
.footer-social a {
  color: #00000070;
  font-size: 17px;
}
a.social-icon {
  background-color: #e7e7e8;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 10px;
}
a.social-icon i {
  margin-left: 7px;
  margin-top: 7px;
}
.footer-copyright p {
  font-size: 16px;
  font-weight: 400;
}
